---
import Layout from '../layouts/Layout.astro';
import { PortfolioManager } from '../components/PortfolioManager.jsx';
---

<Layout title="Juan Pablo Carrión - Ingeniero de Software">
  <main class="bg-[#0a0a0a] min-h-screen text-white font-sans selection:bg-blue-500 selection:text-white">
    
    <PortfolioManager client:load />

  </main>
</Layout>